<head>
  <meta charset="utf-8">
  <title>Master template / Portál veřejné správy</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/images/meta/favicon.ico?v=knceasdft">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-touch-icon.png?v=knceasdft">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png?v=knceasdft">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png?v=knceasdft">
  <link rel="manifest" href="/images/meta/manifest.json?v=knceasdft">
  <link rel="mask-icon" href="/images/meta/safari-pinned-tab.svg?v=knceasdft" color="#2362a2">
  <meta name="msapplication-config" content="/images/meta/browserconfig.xml?v=knceasdft">
  <meta name="apple-mobile-web-app-title" content="PVS">
  <meta name="application-name" content="PVS">
  <meta name="theme-color" content="#2362a2">
  <script src="/js/js-toggle.js"></script>
</head>